body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    z-index: 0;
}

button {
    float: left;
    z-index: 100;
}

svg, canvas {
    position: absolute;
    z-index: -1
}

.hbar {
    left: 0%;
    right: 0%;
    animation-duration: 8s;
    animation-name: ylos-alas;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: -3;
}

.pingviinikuva {
    position: absolute;
    left: 0%;
    right: 0%;
    animation-duration: 10s;
    animation-name: ruudun-ympari;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: -2;
}

.pariton-pollo, .parillinen-pollo {
    z-index: 100;
    left: 0%;
    right: 0%;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;    
}

.pariton-pollo {
    animation-name: ees-taas-oikea;
}

.parillinen-pollo {
    animation-name: ees-taas-vasen;
}


/* gradient */
.stop1 {
    stop-color: black;
}

.stop2 {
    stop-color: rgb(204, 0, 204);
}

.stop3 {
    stop-color: black;
}

.stop4 {
    stop-color: yellow;
}

@keyframes ylos-alas {
    from {
        transform: translate(0vw,0vh);
        fill:url(#Gradient2);
    }
    50% {
        transform: translate(0vw,100vh);
    }
    to {
        transform: translate(0vw,0vh);
        fill:url(#Gradient4);
    }
}

@keyframes ruudun-ympari {
    from {
        transform: translate(0%,0%);
    }
    25% {
        transform: translate(0%,calc(100vh - 150px));
    }
    50% {
        transform: translate(calc(100vw - 150px),calc(100vh - 150px));
    }
    75% {
        transform: translate(calc(100vw - 150px),0%);
    }
    to {
        transform: translate(0%,0%);
    }
}

@keyframes ees-taas-vasen {
    from {
        transform: translate(0%, calc(50vh - 276px));
    }
    to {
        transform: translate(calc(100vw - 562px), calc(50vh - 276px));
    }
}

@keyframes ees-taas-oikea {
    from {
        transform: translate(calc(100vw - 562px), calc(50vh - 276px));
    }
    to {
        transform: translate(0%, calc(50vh - 276px));
    }
}