body {
    background-color: black;
    margin: 0;
}

.hbar {
    position: absolute;
    left: 0%;
    right: 0%;
    animation-duration: 8s;
    animation-name: ylos-alas;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* gradient */
.stop1 {
    stop-color: black;
}

.stop2 {
    stop-color: rgb(204, 0, 204);
}

.stop3 {
    stop-color: black;
}

.stop4 {
    stop-color: yellow;
}

@keyframes ylos-alas {
    from {
        transform: translate(0%,0%);
        fill:url(#Gradient2);
    }
    50% {
        transform: translate(0%,100vh);
    }
    to {
        transform: translate(0%,0%);
        fill:url(#Gradient4);
    }
}